
#principal{
    background-color: rgb(30, 132, 73 );
    width: 50%;
    height: 40%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: rgb(30, 132, 73);
}


td, th, table{
    border-collapse: collapse;
    border: 1px solid rgb(30, 132, 73 );
    height: 50px;
    
    
}

td{
    border: 1px solid rgb(30, 132, 73 );
    background-color: aliceblue;
    border-collapse: collapse;
}

th{
    border: 1px solid rgb(30, 132, 73 );
    background-color: aliceblue;
    border-collapse: collapse;
}

#titulo{
    color: aliceblue;
    border: none;
    font-size: 40px;
    background-color: rgb(30, 132, 73 );
}


table{
    width: 95%;  
    height: 50px;
    margin-left: auto;
    margin-right: auto; 
}
#fec{
    border-radius: 8px 0px 0px 8px;
}

#rem{
    border-radius: 0px 8px 8px 0px;
}

#nom{
    border-radius: 8px 8px 0px 0px;
}

#cid{
    border-radius: 0px 0px 0px 8px;
}

#con{
    border-radius: 0px 0px 8px 0px;
}

#can{
    border-radius: 8px 0px 0px 0px;
    background-color: rgb(191, 243, 191);
}
#imp{
    border-radius: 0px 8px 0px 0px;
    background-color: rgb(191, 243, 191);
}
#e1{
    background-color: rgb(191, 243, 191);
}
#a_11{
    border-radius: 0px 0px 0px 8px;
}
#a_12{
    border-radius: 0px 0px 8px 0px;
}
